<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 운영시 설정
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource-${jdbc.dbtype}" />
        <property name="configLocation" value="classpath:/config/sqlmapper/sql-mapper-config.xml" />
        <property name="mapperLocations" value="classpath:/config/sqlmapper/${jdbc.dbtype}/**/*-sql.xml" />
    </bean>
    -->

    <!-- 개발시 설정 -->
    <bean id="sqlSession" class="zesinc.web.support.mybatis.ReLoadableSqlSessionFactoryBean">
        <property name="interval" value="1000" />
        <property name="dataSource" ref="dataSource-${jdbc.dbtype}" />
        <property name="configLocation" value="classpath:/config/sqlmapper/sql-mapper-config.xml" />
        <property name="mapperLocations" value="classpath:/config/sqlmapper/${jdbc.dbtype}/**/*-sql.xml" />
    </bean>

    <!-- MapperConfigurer setup for MyBatis Database Layer with @Mapper("deptMapper") in DeptMapper Interface -->
    <bean class="org.egovframe.rte.psl.dataaccess.mapper.MapperConfigurer">
        <property name="basePackage" value="zesinc" />
    </bean>

</beans>